<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find Your Doctor</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="description" content="Securely sign in to your account">
		<meta name="robots" content="noindex, nofollow">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

        <div>
            {% load static %}
            <section class="mainmenu-area stricky">
    <nav class="navbar navbar-default" style="background-color: #4762C6">
    <div class="navbar navbar-fixed top">
    <img src="{% static 'hackapp/welcome/download.png' %}"alt="logo" style="width:30px; height:30px;" >
        <a class="external" target="_blank" style="color: #ffffff; font-size: 40px;" >Find Your Doctor</a></div></nav></section></div><br>

        <div style="background-image:url({% static 'hackapp/welcome/confirm3.jpg' %});width:100%;height:400px;">
               <div style="margin-left:300px;padding-top:150px;">

            <div style="color:#ffffff;font-size:50px;"><b>Appointment Confirmed</b></div>


</body>
</html>