<!DOCTYPE html>
<html lang="en">
<head>
<title>Find Yor Doctor </title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="description" content="Securely sign in to your account">
		<meta name="robots" content="noindex, nofollow">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

            {% load static %}
            <section class="mainmenu-area stricky">
    <nav class="navbar navbar-default" style="background-color: #4762C6">
    <div class="navbar navbar-fixed top">
    <img src="{% static 'hackapp/welcome/download.png' %}"alt="logo" style="width:30px; height:30px;" >
    <a class="external" target="_blank" style="color: #ffffff; font-size: 40px;" >Find Your Doctor</a>
    </div>
        </nav></section>
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent" >
    <ul class="navbar-nav mr-auto" align="right">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/about/">About <span class="sr-only"></span></a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="/contact/">Contact Us <span class="sr-only"></span></a>
      </li>
    </ul></div></nav>

<div class="w3-content w3-section">
    <img src="{% static 'hackapp/welcome/doctor3.png' %}" alt="home-doctor" style="width:800px; height:200px; text-align:center;width:90%; display:block;margin-left:auto;margin-right:auto;">

     <div class="centered" style=" position: absolute;
  top: 50%;
  buttom:50%;
  left: 50%;
  transform: translate(-50%, -50%);color:#ffffff;font-size:40px;"><h3>Get in Touch with Us</h3></div>
        </div>
</div><br><br>
<div style="float:left; padding-left:300px;">
    <img src="{% static 'hackapp/welcome/phone1.png' %}" alt="home-doctor" style="width:30px;height:30px;"><br>
    <p style="padding-right:50px;">Call Us</p>
</div>
            <div style="float:left; padding-left:250px;">
                 <img src="{% static 'hackapp/welcome/comment.png' %}" alt="home-doctor" style="width:40px;height:40px;">
                <p style="padding-right:50px;">Customer Support</p>
            </div>

<div style="float:left; padding-left:250px;color:#888888">
    Interested in FYD Services ?<br> For any queries please contact<br>
    1805106020
</div>

<div style="float:left; padding-left:150px;color:#888888;">
    Need any help from FYD Service .<br>We are here for You
    <br>
   <div style="padding-left:50px;color:#ffffff;"><button type="button" class="btn btn-success" style="background-color:#ffffff;color:#ffffff;"><a href="/signin/">Sign Up</a> </button>
   </div>

</div>
<br><br><br><br><br><br><br><br><br>
  <nav class="navbar navbar-default" style="background-color: #000000; color: #ffffff">
<div>    <h3 style="color: #ffffff">Contact Us</h3>
    <img src="{% static 'hackapp/welcome/facebook.png' %}" alt="facebook" style="width: 25px;margin-left:850px;border-radius:50%;">
    <img src="{% static 'hackapp/welcome/Google.png' %}" alt="Google" style="width: 25px;margin-left:20px;border-radius:50%;">
          <div><h4>For Booking and service queries:</h4></div>
    Address:College Of Engineering And Technology,Kalinga Nagar,Ghatikia,Bhubaneswar,Odisha,751003</br>
        Ph : 182545554511<br>
        Email : FYD@gmail.com
          </div>
    </nav>

</body>
</html>