<!DOCTYPE html>
<html lang="en-GB"><head>
		<title>Find Yor Doctor </title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="description" content="Securely sign in to your account">
		<meta name="robots" content="noindex, nofollow">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
        <div>
            {% load static %}
            <section class="mainmenu-area stricky">
    <nav class="navbar navbar-default" style="background-color: #4762C6">
    <div class="navbar navbar-fixed top">
    <img src="{% static 'hackapp/welcome/download.jpg' %}"alt="logo" style="width:30px; height:30px;" >
    <a class="external" target="_blank" style="color: #ffffff; font-size: 40px;" >Find Your Doctor</a>
        <div style="padding-left:700px;">
            <button class="btn btn-success" style="text-align: center; position: absolute;border-radius: 12px;background-color: #ffffff; color:#4762C6;"><a href="/Timeslot">Request Appointment</a></button>
        </div>
    </div>
    </nav>
            </section>
        </div><br>
         <form action="/">
             {% load static %}

               <div style="background-color: #4762C6;width:35%; padding: 50px; margin: auto;border-radius: 25px;">
        <div style=" color: #ffffff; text-align: center; font-size: 15px;">
        {% csrf_token %}
            {% for name,address,license,phone,speciality,work,year in comb_lis %}

            Name:{{name}}<br><br>
            Address:{{address}}<br><br>
            Image:{{license}}<br><br>
            Phone No:{{phone}}<br><br>
            Speciality:{{speciality}}<br><br>
            Working at:{{work}}<br><br>
            Year of Experience:{{year}}<br>

            <br>
            {% endfor %}
        </div></div></div>
    </form>
</body>
</html>